body {
    box-sizing: border-box;
    justify-content: center;
}
#products-available{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.element-div{
    height: 50vh;
    width: 90%;
    background-color: rgb(240, 255, 254);
}
.row{
    justify-content: center; 
}
.container{
    justify-content: center;
}
.top-margin{
    margin-top: 1rem;
}
.products-available{
    background-color: rgb(206, 255, 239);
    height: auto;
    width: 90%;
    padding: 2rem;
    border-radius: 3rem;
}
.d-flex input {
    margin: .9em 0em;
}

.d-flex button {
    margin: 1.5em .6em;
    padding: .3em 2.4em;
}
.table-data{
    overflow-x: scroll;
}
.d-flex table {
    margin: 1em ;
}

table .btnedit {
    color: lightgreen;
    cursor: pointer;
}

table .btndelete {
    color: tomato;
    cursor: pointer;
}

/* messages */
.updatemsg,
.deletemsg,
.insertmsg {
    position: absolute;
    top: -40px;
}

.movedown {
    animation: slideup 3.4s ease;
}

@keyframes slideup {
    50% {
        top: 0
    }

    100% {
        top: -40px;
    }
}