html{
    display: inline;
    margin: 0;
    justify-content: center;
}
body {
    width: 100vh;
    height: 100vh;
    margin: 0%;
    justify-content: center;
    align-items: center;
}
.element-title{
    grid-area: one;
    margin-bottom: 2rem;
}
.element-type{
    grid-area: two;

}
.element-price{
    grid-area: three;
}
.element-description{
    grid-area: four;
}
.element-location{
    grid-area: five;
}
.element-state{
    grid-area: six;
}
.element-user{
    grid-area: seven;
}
.justify-content-center{
    justify-content: center;
}
.whatsapp{
    grid-area: eight;
}
.element-main{
    display: flex;
    height: auto;
    width: 90vw;
    background-color: rgba(23, 163, 184, 0.195);
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    gap: 2rem;
}
.py-4{
    width: 90vw;
}
.hide{
    display: none;
}
.element-space{
    display: flex;
    justify-content: flex-end;
    width: 19.3vw;
}
.whatsapp{
    display: flex;
    justify-content: center;
    left: 100;
    background-image: url(https://cdn-icons-png.flaticon.com/512/226/226757.png);
    background-size: cover;
    height: 2rem;
    width: 2rem;
} 
.element-info{
    display: flex;
    align-items: center;

}
.element-image{
    width: 100%;
    height: 90%;
    border: 1px solid black;
    background-position: center;
    background-size: contain;
  }
.row{
    justify-content: center; 
}
.container{
    padding:1em;
}
.top-margin{
    margin-top: 1rem;
}
.pub{
    Color:rgb(17, 114, 130);
}
.element-info{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'one one one'
        'two four four'
        'three four four'
        'five six six'
        'seven eight eight'
        ;
    width:min(80%, 90%);
    margin-inline: auto;
}
#products-available{
    position: absolute;
    left: 4.2rem;
    flex-direction: column;
    height: auto;
    width: 90%;
    border-radius: 2rem;
    gap: 1rem;
    margin: 0%;
}
.d-flex input {
    margin: .9em 0em;
}

.d-flex button {
    margin: 1.5em .6em;
    padding: .3em 2.4em;
}
.table-data{
    overflow-x: scroll;
}
.d-flex table {
    margin: 1em ;
}

table .btnedit {
    color: lightgreen;
    cursor: pointer;
}

table .btndelete {
    color: tomato;
    cursor: pointer;
}

/* messages */
.updatemsg,
.deletemsg,
.insertmsg {
    position: absolute;
    top: -40px;
}

.movedown {
    animation: slideup 3.4s ease;
}

@keyframes slideup {
    50% {
        top: 0
    }

    100% {
        top: -40px;
    }
}